{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
