@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src:
    url('/fonts/montserrat-medium.woff2') format('woff2'),
    url('/fonts/montserrat-medium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src:
    url('/fonts/montserrat-semibold.woff2') format('woff2'),
    url('/fonts/montserrat-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:
    url('/fonts/montserrat-bold.woff2') format('woff2'),
    url('/fonts/montserrat-bold.woff') format('woff');
}

.wrapper {
  @apply max-w-7xl mx-auto px-4;
}
