@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src:
    url('/fonts/montserrat-medium.woff2') format('woff2'),
    url('/fonts/montserrat-medium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src:
    url('/fonts/montserrat-semibold.woff2') format('woff2'),
    url('/fonts/montserrat-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:
    url('/fonts/montserrat-bold.woff2') format('woff2'),
    url('/fonts/montserrat-bold.woff') format('woff');
}

.wrapper {
  @apply mx-auto max-w-7xl px-4;
}

.year-codename-underline::after {
  @apply absolute bottom-1 left-3 -z-10 h-3 w-full bg-blue-light content-[""];
}

.specialty-underline::after {
  @apply absolute inset-x-0 bottom-0 h-1 bg-blue-light content-[""];
}
