:root {
  --color-beige: 250 235 217;
  --color-blue-light: 43 154 174;
  --color-blue-dark: 27 95 106;
}

.dark {
  --color-beige: 30 108 120;
  --color-blue-light: 20 72 81;
  --color-blue-dark: 250 235 217;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src:
    url("/fonts/montserrat-medium.woff2") format("woff2"),
    url("/fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src:
    url("/fonts/montserrat-semibold.woff2") format("woff2"),
    url("/fonts/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/montserrat-bold.woff2") format("woff2"),
    url("/fonts/montserrat-bold.woff") format("woff");
}

.wrapper {
  @apply mx-auto max-w-7xl px-4;
}

.year-codename-underline::after {
  @apply absolute bottom-1 left-3 -z-10 h-3 w-full bg-[#2B9AAE] transition-opacity duration-150 content-[""];
}

.year-codename-underline:has(a:hover)::after {
  @apply opacity-0;
}

.specialty-underline::after {
  @apply absolute inset-x-0 bottom-0 h-1 bg-[#2B9AAE] content-[""];
}
