---
import Hero from '../components/Hero.astro';
import Meta from '../components/Meta.astro';
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
---

<html lang="en">
  <Meta />
  <body class="font-montserrat">
    <NavBar />
    <main>
      <Hero />
    </main>
  </body>
</html>
