---
import Hero from "../components/Hero.astro";
import Meta from "../components/Meta.astro";
import NavBar from "../components/NavBar.astro";
import Program from "../components/Program.astro";
import "../styles/global.css";
---

<html lang="en" class="scroll-smooth">
  <Meta />
  <body class="font-montserrat">
    <NavBar />
    <main>
      <Hero />
      <Program />
    </main>
  </body>
</html>
