---

---

<section
  class="min-h-[calc(100vh-5.2rem)] bg-beige bg-[url('/images/ocean-background-light.svg')] bg-cover bg-[0_20%]">
  <div class="wrapper pt-24 md:pt-48">
    <h1
      class="mx-auto max-w-[18.75rem] text-2xl text-blue-dark md:mx-0 md:max-w-[35rem] md:text-5xl md:leading-[3.625rem]">
      The online archive for <span class="font-bold">ESI-SBA</span> students to find school
      <span class="font-bold">resources</span>!
    </h1>
  </div>
</section>
