---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="UTF-8" />
  <title>Octolib - ESI SBA Library</title>
  <meta
    name="description"
    content="Octolib is a student-managed ESI SBA library for lessons, labs and previous exams. You may find labs and exams with their solutions as well, updated on a yearly basis."
  />
  <!-- Cloudflare Web Analytics -->
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token": "c926b0ceb77c48d89aed8b1cfcb6e5b1"}'>
  </script>
  <!-- End Cloudflare Web Analytics -->

  <!-- Open Graph -->
  <meta property="og:image" content={new URL("/preview.png", Astro.url)} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content="Octolib - ESI SBA Library" />
  <meta
    property="og:description"
    content="Octolib is a student-managed ESI SBA library for lessons, labs and previous exams. You may find labs and exams with their solutions as well, updated on a yearly basis."
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content="Octolib - ESI SBA Library" />
  <meta
    property="twitter:description"
    content="Octolib is a student-managed ESI SBA library for lessons, labs and previous exams. You may find labs and exams with their solutions as well, updated on a yearly basis."
  />
  <meta property="twitter:image" content={new URL("/preview.png", Astro.url)} />

  <link rel="canonical" href={canonicalURL} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
  <meta name="generator" content={Astro.generator} />
</head>
