<head>
  <meta charset="UTF-8" />
  <meta
    name="description"
    content="Octolib is the hub for ESI SBA students to find school resources: lessons, labs, exercises with solution as well as previous exams and their solution."
  />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
  <meta name="generator" content={Astro.generator} />
  <title>Octolib | Hub for ESI SBA Students</title>
</head>
