---
import firstYear from '../data/firstYear';
import fourthYear from '../data/fourthYear';
import secondYear from '../data/secondYear';
import thirdYear from '../data/thirdYear';
import CurriculumCard from './CurriculumCard';
---

<section class="relative bg-blue-light">
  <div class="wrapper pb-72">
    <CurriculumCard yearCodeName="1CP" className="mb-20" content={firstYear} client:load />
    <img
      src="/images/fish-swarm-big.svg"
      alt="big swarm of fish"
      class="absolute right-0 top-[38rem] w-80 md:w-auto xl:w-[43rem]"
    />
    <CurriculumCard yearCodeName="2CP" className="mb-20" content={secondYear} client:load />
    <img
      src="/images/fish-swarm-small.svg"
      alt="big swarm of fish"
      class="absolute right-1/4 top-[90rem] w-72 md:w-auto"
    />
    <CurriculumCard yearCodeName="1CS" className="mb-20" content={thirdYear} client:load />
    <CurriculumCard yearCodeName="2CS" content={fourthYear} client:load />
  </div>
</section>
